.navbar {
    position: fixed;
    top: 90.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 42%;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    z-index: 1000;
}

.navbar:hover {
    background-color: #444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.nav-icon {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.nav-icon:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .navbar {
        width: 90%; /* Adjust width to fit mobile screens */
        padding: 10px 10px; /* Adjust padding for mobile screens */
    }

    .nav-icon {
        font-size: 20px; /* Adjust icon size for mobile screens */
        padding: 8px; /* Adjust padding for mobile screens */
    }
}
